<mark><h2>How to play</h2>
<p>In the search field above, simply modify the text after <i>/rps/</i> by adding Player 1's move right after. Player 2's move can be added by pressing the forward slash key "/" between the two player moves. Good luck! </p></mark>
