<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <title>Rock, paper, scissors</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <div>
    <%= yield %>
    </div>
    <nav>
        <a href="/">
          <img src="https://img.memecdn.com/rock-paper-scissors_o_880422.jpg" alt="Trust me, it's mildly funny">
        </a>
    </nav>
  </body>
</html>
